<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MKDirectionsApplicationSupportedModes</key>
	<array/>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Perro1</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Perro2</string>
	<key>NSCameraUsageDescription</key>
	<string>Necesito tomar fotos</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Necesito ver fotos</string>
</dict>
</plist>
